--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
python-multipart
python-dotenv

groq
pydantic

reportlab
pdf2image
pytesseract
Pillow
opencv-python
numpy
PyMuPDF

spacy
scikit-learn
transformers
torch==2.10.0+cpu
sentence-transformers
keybert
