fastapi
uvicorn[standard]
python-multipart
python-dotenv

groq
pydantic

reportlab
pdf2image
pytesseract
Pillow
opencv-python
numpy
PyMuPDF

spacy
scikit-learn
transformers
torch
sentence-transformers
keybert
faiss-cpu
